[submodule "linenoise"]
	path = thirdparty/linenoise
	url = git@github.com:antirez/linenoise.git
[submodule "thirdparty/miniz"]
	path = thirdparty/miniz
	url = https://github.com/richgel999/miniz.git
